{% extends "base.html" %}


{% load compress %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<!-- Projects Row -->
<div class="row">
    {% for product in products %}
        <div class="col-md-4 img-portfolio">
            <a href="{% url 'market:buy' %}">
                <img class="img-responsive img-hover" src="{{ product.get_image_url }}" alt="{{ product.name }}">
            </a>
            <h3>
                <a href="{% url 'market:buy' %}">{{ product.name }}</a>
            </h3>
            <p>一斤 / 包</p>
      </div>
    {% endfor %}
</div>
<!-- /.row -->
<!-- Projects Row --><!-- /.row --><!--/#about-slider-->


    <!-- Our Skill -->
<div class="skill-wrap clearfix">

    <div class="center wow fadeInDown">
        <h2>怎樣健康吃黑糖？</h2>
        <p>除了桂花釀之外，我們也提供最養生的黑糖，也有人稱它為紅糖或紅砂糖，和其他用來調味的白砂糖、黃砂糖、冰糖一樣，主要原料來自甘蔗。<br>
          由於健康的訴求，這些糖在市場上大受歡迎，各種相關產品也不斷問市。像是貌不驚人、看起來土土的黑糖，從去年一路紅到今年，便利商店及超市的物架上，處處看得到黑糖零食、黑糖飲料、黑糖冰棒甚至黑糖湯圓，將黑糖的聲勢拉上最高點。 　黑糖既然和其他糖類的製作原料相同，為什麼它會比較健康？ 原因就在製作過程中，由於黑糖的精製程度比較低，因此保留了不少礦物質及維生素，如鈣、鉀、鐵、鎂及葉酸等，這些正是其他糖裡所沒有的。<br>
      營養專家一直在大力提倡回歸天然、粗製的飲食，黑糖就符合這種概念。</p>
        <p>怎樣健康吃黑糖？</p>
        <p>方法是以它替代其他精製糖類。需要添加糖調味的時候，像是自製甜湯或沖泡咖啡、茶，可以好好利用黑糖，變換另一種風味。</p>
        <p class="lead">&nbsp;</p>
    </div>
</div><!--/.our-skill-->
{% endblock %}
