{% extends "base.html" %}


{% load compress %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<div id="about-slider">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            {% for pic in pics %}
                <div class="item  {% if forloop.first %}active{% endif %}">
                    <img src="{{ pic.get_image_url }}" class="img-responsive" alt="">
                </div>
            {% endfor %}
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>

        <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div> <!--/#carousel-slider-->
</div><!--/#about-slider-->


<!-- Our Skill -->
<div class="skill-wrap clearfix">

    <div class="center wow fadeInDown">
        <h2>有美 桂花釀</h2>
        <p class="lead">感謝老客戶們的長期支持，我們門提供南庄在地美食並提供宅配到府服務<br> 歡迎您到南庄旅遊，並到南庄老街桂花巷試喝我們用心為您沖泡的花釀飲品。再次謝謝您</p>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="joomla-skill">
                    <p><em>花釀系列</em></p>
                    <p>花釀果醋酸甜好滋味</p>
                </div>
            </div>
        </div>

         <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="html-skill">
                    <p><em>豆干系列</em></p>
                    <p>一包在手回味無窮</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="css-skill">
                    <p><em>蜜餞系列</em></p>
                    <p>鹹酸甜大家都喜愛</p>
                </div>
            </div>
        </div>

         <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                <div class="wp-skill">
                    <p><em>黑糖系列</em></p>
                    <p>養生食品多種口味</p>
                </div>
            </div>
        </div>

    </div>

</div><!--/.our-skill-->
{% endblock %}
