{% load staticfiles %}
{% load dj_kit_tags %}
{% load staticfiles %}
{% load i18n %}
{% load compress %}


<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="xuchao">
    <meta name="description" content="xuchao">
    <meta name="author" content="">
	<title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>
	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <script src="{% static 'js/vendor/jquery-1.8.2.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.carousel').carousel();
        })
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
</head>
<body>
	{% get_current_language as LANGUAGE_CODE %}
    <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" style="width:250px;"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li  class='active'><a href="{% url 'index' %}">{% trans '首页' %}</a></li>
                    {% for category in categories %}
                    <li ><a href="{% url 'market:category_info' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li ><a href="{% url 'market:buy' %}">{% trans '热销商品' %}</a></li>
                    <li ><a href="">{% trans '关于我们' %}</a></li>
                    <li><a href="#">電話：{{ company.tel }}</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
<!--/nav-->
    </header><!--/header-->
    <section id="about-us">
        <div class="container">
        {% block content %}
        {% endblock %}
      <!-- our-team --><!--section-->
        </div><!--/.container-->
    </section><!--/about-us-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                {% for category in categories %}
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>{{ category.name }}</h3>
                        <ul>
                            {% for product in category.products %}
                            <li>{{ product.name }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                {% endfor %}
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="" title="{% trans '梦顺斋' %}">{{ company.address }}</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        {% for c in categories %}
                        <li><a href="flower.html">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
</body>
</html>
